<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_game_reason.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{638,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,98}}</string>
                <key>sourceSize</key>
                <string>{638,98}</string>
            </dict>
            <key>game_reason_StarLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,432},{37,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{37,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>game_reason_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,483},{48,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{48,58}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,307},{60,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_chao.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,251},{74,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>game_reason_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,372},{60,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,247}}</string>
                <key>sourceSize</key>
                <string>{484,247}</string>
            </dict>
            <key>game_reason_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,363},{66,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,483},{56,60}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,251},{54,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,425},{62,64}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,321},{64,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,369},{66,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_san.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,434},{60,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,56}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,372},{60,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,315},{46,70}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,251},{68,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_shuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,429},{62,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_si.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,372},{58,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{58,40}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>game_reason_star_map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,251},{168,119}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,119}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>game_reason_star_map_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{122,109}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{132,117}</string>
            </dict>
            <key>game_reason_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,434},{61,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{61,58}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>game_reason_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,434},{61,64}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{61,64}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>game_reason_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,387},{45,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{45,66}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLayerAnimation.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c9948be081ef8ef887f7bd6c0d855a:92adab4514809af73d0d7e199f17d848:c0812066577d8945faa6249db6995a91$</string>
            <key>textureFileName</key>
            <string>GameLayerAnimation.png</string>
        </dict>
    </dict>
</plist>
