<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_label_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,404},{43,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,108},{294,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,40}}</string>
                <key>sourceSize</key>
                <string>{294,42}</string>
            </dict>
            <key>button_local_game_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_local_game_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_with_friend_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,902},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_with_friend_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_exchange_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_exchange_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_forbid_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_forbid_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_high_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_high_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{448,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{448,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_normal_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{450,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>button_zone_normal_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{450,104}}</string>
                <key>sourceSize</key>
                <string>{452,108}</string>
            </dict>
            <key>label_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,452},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>scene_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{337,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,71}}</string>
                <key>sourceSize</key>
                <string>{337,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChoosePlayScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21cbf41cd26e01a75ab406daa244f64d:2ce8767dd94437c1a3585b6b34199a05:311d40604d964bc18871065a8ba968b8$</string>
            <key>textureFileName</key>
            <string>ChoosePlayScene.png</string>
        </dict>
    </dict>
</plist>
