<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,756},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bg_head_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,448},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>bg_head_area_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{135,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{135,135}}</string>
                <key>sourceSize</key>
                <string>{139,143}</string>
            </dict>
            <key>bg_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,448},{113,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,37}}</string>
                <key>sourceSize</key>
                <string>{113,37}</string>
            </dict>
            <key>bg_playerinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,444}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,444}}</string>
                <key>sourceSize</key>
                <string>{590,448}</string>
            </dict>
            <key>bg_playerinfo_local.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{590,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,404}}</string>
                <key>sourceSize</key>
                <string>{590,406}</string>
            </dict>
            <key>bg_user_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{171,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{171,86}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>headicon_local_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>headicon_local_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,758},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>headicon_local_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,594},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>headicon_local_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,594},{160,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>headicon_local_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,758},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>headicon_local_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,594},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>headicon_local_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,758},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>level_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,968},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>level_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,922},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>playerinfo_bg_lanzuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,867},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>playerinfo_button_kick_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,594},{162,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>playerinfo_button_kick_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,767},{162,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>playerinfo_button_kick_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{162,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>playerinfo_lanzuan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,39},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>playerinfo_lanzuan_disabled_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,559},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>playerinfo_lanzuan_enabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>playerinfo_lanzuan_enabled_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,559},{46,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>playerinfo_offline_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,922},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>playerinfo_ready_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,931},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfoLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0b6307d1f9a1f7189a2a8f88e0b1e1:fc688e9dd508d33231e4763fc23cb16d:cc3a544081247d4dd07d4d2261d9b291$</string>
            <key>textureFileName</key>
            <string>PlayerInfoLayer.png</string>
        </dict>
    </dict>
</plist>
