<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autoLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,324},{138,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,26}}</string>
                <key>sourceSize</key>
                <string>{142,30}</string>
            </dict>
            <key>inputUinAndPassBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{320,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,60}}</string>
                <key>sourceSize</key>
                <string>{320,62}</string>
            </dict>
            <key>inputUinAndPassBox_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{320,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,62}}</string>
                <key>sourceSize</key>
                <string>{320,62}</string>
            </dict>
            <key>localButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,249},{214,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,77}}</string>
                <key>sourceSize</key>
                <string>{216,77}</string>
            </dict>
            <key>loginButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,249},{214,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,77}}</string>
                <key>sourceSize</key>
                <string>{216,77}</string>
            </dict>
            <key>loginLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,166}}</string>
                <key>sourceSize</key>
                <string>{438,166}</string>
            </dict>
            <key>password.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,466},{114,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,44}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>pressLocalButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,249},{214,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,77}}</string>
                <key>sourceSize</key>
                <string>{216,77}</string>
            </dict>
            <key>pressLoginButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,170},{214,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,77}}</string>
                <key>sourceSize</key>
                <string>{216,77}</string>
            </dict>
            <key>remberPassword.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,324},{140,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{140,26}}</string>
                <key>sourceSize</key>
                <string>{142,30}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{42,30}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,30}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>selectBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>uin.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{114,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,42}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c7200cf5adcddce519aa57eac26c12:94ff32139babe0a98d37ea5fbf1873c5:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
